<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GateWay</title>
    <link rel="stylesheet" href="~/sbAdmin/vendor/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/sbAdmin/css/sb-admin-2.min.css" />
    <link rel="stylesheet" href="~/sbAdmin/vendor/datatables/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GateWay.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.json-viewer/json-viewer/jquery.json-viewer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">

        <!-- Include Sidebar -->
        @await Html.PartialAsync("_Sidebar")

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Include Topbar -->
                  @await Html.PartialAsync("_Topbar")


                <!-- Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>

            <!-- Include Footer -->
            @await Html.PartialAsync("_Footer")
        </div>
    </div>

    <script src="~/sbAdmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/sbAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/sbAdmin/js/sb-admin-2.min.js"></script>
    <script src="~/sbAdmin/vendor/chart.js/Chart.min.js"></script>
    <script src="~/sbAdmin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/sbAdmin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.json-viewer/json-viewer/jquery.json-viewer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
