@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h2 class="display-5">Kibana Dashboard</h2>
    <iframe src="http://localhost:5601" width="100%" height="600px" frameborder="0"></iframe>
</div>
