@{
    ViewData["Title"] = "Cài Đặt";
}
<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary" asp-controller="Account" asp-action="EditProfile">Sửa Thông Tin</a>

<a class="btn btn-success" asp-controller="Account" asp-action="ApiKey">API Settings</a>